.popup {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #225B7C;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    color: whitesmoke;
    font-family: "Euclid Circular A", "Poppins";
}

main {

    height: 80%;
    display: flex;
    justify-content: space-between;

    overflow: hidden;

}

.container_1{
    width: 85%;
}

.menu {
    margin-top: 2%;
    margin-left: 2%;

    display: flex;
    flex-direction: row;

    width: 110%;

    display: flex;
    align-items: center;
    
}

.titre{
   color: #38A7A6;

    display: flex;
    align-items: center;
}


button{
    font-size: 100%;
}

.nav_menu {
    background-color: #38A7A6;
    border-radius: 20px;
    height: 10%;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav_menu .div_img{
    width: 100%;
    padding: 2%;
    margin: 3%;

    border-radius: 50%;
}

.div_img:hover{
    background-color: #59CD97;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.nav_menu .img_menu {
    width: 90%;
    padding: 5%;
}


.profil_part {
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
   
    
    width: 30%;
    height: 100%;
    background-color: #38A7A6;
   
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    
}

.info_profil_general {
    height: 100%;
    padding: 1%;
}

.info_profil_1, .info_profil_2, .info_profil_3 {
   display: flex;
   flex-direction: row;
   padding: 1%;
}

.info_profil{
    padding: 2%;
}

.nav_profil {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 1%;
}

.nav_profil button{
    margin: 2%;
    padding: 2%;
    background-color: #59CD97;
    color: white;
    border: none;
    border-radius: 10px;

    height: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.profil_option{
    width: 100%;
}

.modif, .deco, .extract, .aide{
    width: 40%;
    font-size: 15px;
}

.nav_profil button:hover{
    cursor: pointer;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#container_2{
    width: 100%;
}


.filtre{
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;

    height: 100%;
    width: 75%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.div_riset{
    width: 5%;
}

.div_riset img{
    width: 100%;
    border-radius: 35%;
}

.div_riset img:hover{
    cursor: pointer;
    transform: rotate(180deg);
    transition: transform 1s ease;
}

.filtreCheckbox{
    margin-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;

    border-radius: 10px;

    background-color: #59CD97;
    color: white;

    height: 100%;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button_filtre{
    background-color: #59CD97;
    border-radius: 5px;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
   
}

.tout_les_filtre {
    background-color: #59CD97; 
    color: white;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.filtre_formation{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 1%;
}

.tout_les_filtre:hover, .button_filtre:hover, .barre_de_recherche:hover {
    cursor: pointer;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

select:hover, input:hover{
    cursor: pointer;
}

select, input{
    font-size: 110%;
}


.tout_les_filtre select{
    background-color: #59CD97;
    color: white;
    border: none;
    
}



.barre_de_recherche {
    background-color: #59CD97; 
    color: white;
    padding: 1%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.barre_de_recherche input{
    background-color: #59CD97; 
    color: white;
    border: none;

}

.barre_de_recherche input[type="text"]::placeholder {
    color: white;
}


#all_info,  #allInfo{
    width: 100%;
    overflow: scroll; 
    max-height: 45vh;

}

.info {
    background-color: #38A7A6;
    color: aliceblue;
    padding: 2%;
    margin: 2%;
    border-radius: 10px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.description_general{

    width: 100%;

    padding: 1%;
    font-size: 120%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.description_1{
    width: 25%;

}

.description_2{
    width: 50%;
    overflow: scroll;
    max-height: 20vh;

}

.description_1_1, .description_1_2 {
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description_1_3{
    padding: 2%;


}


.option{
    display: flex;
    flex-direction: row;
    color: white;
    font-size:larger;
    margin: 1%;
}

.option button{
    
    color: white;
    background-color: #59CD97;

    border: none;
    border-radius: 5px;

    padding: 1%;
    margin-right: 1%;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.option button:hover{
    cursor: pointer;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);

}



#allInfo{
    width: 100%;
    padding: 0;
    margin: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.contener_1 {
    width: 100%;
}

.contener_2 {
    width: 98%;
    margin: 1%;

    display: flex;
    flex-direction: column;
    background-color: #38A7A6;

    border-radius: 10px;
}


#description{
    width: 95%;
}


.description_demande{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 115%;
    margin: 1%;
    width: 100%;
}

.description1_demande{
    width: 50%;
    padding: 1%;
    margin-right: 2%;
    margin-left: 2%;
}



