body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Euclid Circular A", "Poppins";
}

.container {
    display: flex;
    flex-direction: row;
}

.btn-primary {
    background-color: #38A7A6;
    color: #FFFFFF;
    font-size: 1.2em;
    border-radius: 10px;
}

.btn-primary:hover {
    background-color: #225B7C;
}

.btn-primary:active {
    background-color: #38A7A6;
}

.text-display {
    width: 60%;
    padding-right: 20px;
}

.image-display {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}
