.popup {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #225B7C;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    color: whitesmoke;
    font-family: "Euclid Circular A", "Poppins";
}



body {
    background: #f8f9fb;
    font-family: "Euclid Circular A", "Poppins";
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;

    background-color: white;

    font-family: "Arial", sans-serif;


    overflow: hidden;
}

header {
    padding-top: 0;
    margin-top: 0;

    display: flex;
    align-items: center;

    background: linear-gradient(90deg, #38A7A6, #59CD97);
    height: 120px;
    width: 100%
}

.left_partH,
.right_partH {
    display: flex;
    align-items: center;
}


.left_partH {
    padding-left: 1%;
    width: 25%;
    display: flex;
    justify-content: flex-start;
}


.img_header {
    width: 100px;
    background-color: white;
    border-radius: 50%;
    padding: 0;
    margin: 0;
}

.img_header img{
    width: 100%;
}


.nav_link_acceuil {
    font-size: 25px;
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center;

    border-radius: 5px;
    margin: 1%;
}

.nav_link_acceuil:hover {
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}


.mid_partH {
    width: 50%;
    display: flex;
    justify-content: space-around;
    color: white;
}


.right_partH{
    width: 25%;
}

#option{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.new_button{
    background-color: #59CD97;
    color: white;
    border: none;
    border-radius: 15px;
    margin: 1%;

    font-size: 20px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}



/*------------------------------- main ---------------------------------*/


main{
}

.new_button:hover{
    cursor: pointer;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

.entrepot_nav{
    display: flex;
    justify-content: space-around;
}

.allEntrepot{
    margin: 2%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    border-radius: 25px;

    background-color: #38A6A7;
    color: white;
}

.select_entrepot{
    width: 50%;
    padding: 1% 2%;
    height: 50px;

    display: flex;
    justify-content: space-around;
}

.select_entrepot:hover{
    cursor: pointer;
    border-radius: 20px;
    background-color: #59CD97;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

.select_entrepot img{
    height: 40px;
}

#container{
    display: flex;
    justify-content: space-around;

    color: #38A6A7;
}

.optionEntrepot{
    padding: 10px;
    margin: 0;
    height: 35px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-bottom: solid;
    border-width: 1px;
    border-color: #38A6A7;
}

.entrepot{
    padding: 1% 1%;
    width: 98%;

    display: flex;
    flex-direction: column;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    color: #38A7A6;
}

.info_stock{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.entrepot_titre{
    padding: 0;
    margin: 0;

    height: 45px;

    border-bottom: solid;
    border-color: #38A6A7;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#entrepot_camion{
    width: 60%;
    padding: 1% 1%;
}

#entrepot_stock{
    width: 40%;
    padding: 1% 1%;
}

.overflowStock{
    overflow: scroll;
    max-height: 40vh;
    width: 100%;
}

#entrepot_stock{
    border-left: solid;
    border-color: #38A6A7;
}


table thead{
    border-bottom: solid;
    border-color: #38A6A7;
}

td, th, tr {
    padding: 2px 15px;
    border-radius: 5px;
}

.denree:hover{
    cursor: pointer;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}


.etagere{
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.etagere div{
    font-weight: bold;
}


.selectColone{
    width: 100px;
}

.select{
    width: 100%;
    border: none;
    background-color: #59CD97;
    color: white;

    border-radius: 10px;
}

.inputAdd{
    padding: 5px;
    display: flex;
}

.inputAdd input, .selectAdd{
    background-color: white;
    color: #38A6A7;

    border: 2px solid #59CD97;
    border-radius: 5px;
    padding: 2px;
    margin-right: 5px;
}

#inputAdd4{
    display: flex;
    justify-content: space-between;
}

/*------------BUTTON-------------------------*/

.etagere button, .buttonAdd, .buttonAddEtatagere{
    background-color: #59CD97;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttonAdd{
    height: 30px;
}

.buttonAddEtagere{
    height: 20px;
}

.updateButton{
    background-color: #c68437;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.buttonSupp{
    background-color: #d93025;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.etagere button:hover, .buttonSupp:hover, .buttonAdd:hover, .updateButton:hover, .validTrajetButton:hover, .addNewTrajet:hover{
    cursor: pointer;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}




/*------------------Form Trajet-------------------------------*/

.newTrajet{
    width: 93%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin: 5%;
    padding: 2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.newFormTrajet{
    width: 30%;
    border-radius: 5px;
    height: 100%;
}

.newFormTrajet{
    padding: 1%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    color: #38A6A7;
}

.allCheckbox{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1%;
    margin-bottom: 2%;
}

.checkbox input, .checkbox label{
    color: #38A6A7;
}

.validTrajetButton{
    padding: 2%;
    background-color: #59CD97;
    color: white;
    border: none;
    border-radius: 5px;
}

.selectEntrepot, .inputT{
    margin-bottom: 2%;
    padding: 1%;

    background-color: white;
    color: #38A6A7;
    border: 1px solid #38A6A7;
    border-radius: 5px;
}

#allAdresse{
    padding: 1% 5%;
}



/*-------------Recap---------------------*/
#recap{
    border-left: solid;
    border-color: #38A6A7;
    padding: 1%;
    margin: 2%;
    width: 60%;
    color: #38A6A7;


}

#pdf{
    overflow: scroll;
    max-height: 50vh;
}

.newFormTrajet{
    overflow: scroll;
    max-height: 50vh;
}

#routes{
    padding: 1% 5%;
}

#routes div{
    padding: 1%;
}

.addNewTrajet{
    padding: 1%;
    background-color: #59CD97;
    color: white;
    border: none;
    border-radius: 5px;
}


#downloadQR{
    color: white;
    background-color: #59CD97;
    text-decoration: none;
    border-radius: 10px;

    display: none;
    align-items: center;

    padding-left: 5px;
    padding-right: 5px;


}


#qrCodeContainer{
    visibility: hidden;
}



