body {
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.jumbotron {
  background-size: cover;
  text-align: center;
  padding: 100px 0;
  position: relative;
  overflow: hidden;
  padding: 0;
  z-index: 1;
  margin-top: 400px;
  background-color: transparent; 
  font-weight: bold;
  color: white;
  
}



